= simple_form_for @job do |f|
  = f.error_notification
  = render 'shared/error_messages', object: f.object
  .form-inputs
    = f.input :title, label: 'Job Title', autofocus: true, hint: raw("Give a short and clear title for this position.<br>Example: \"Housekeeping in Casino\"")
    %hr
    = f.input :summary, label: 'Job Summary', input_html: { rows: 2 }, hint: raw("Write a short summary of the position. Just one or two lines.<br>Example: \"Seeking males or females for basic cleaning duties in a hotel / casino. Must speak Cantonese.\"")
    %hr
    = f.input :body, label: 'Job Description', input_html: { rows: 10 }, hint: 'Give a full, detailed description of the job and all of the requirements the woker needs to have.'
    %hr
    = f.input :open,
      as: :radio_buttons,
      label: 'Is this job open?',
      collection: [['Open', true], ['Closed', false]],
      item_wrapper_class: 'radio-inline',
      hint: raw("If the job is marked \"Open\" it will be visible to everyone on the main page.<br>If the job is marked \"Closed\" it will only be visible to you.")
    %hr
    = f.input :agent, label: 'Which Agent is this Job for?', collection: @agent_list, input_html: { style: 'width: 300px;' }
  .form-actions
    = f.button :submit, 'Save Job', class: 'btn-success'