= simple_form_for @job do |f|
  = f.error_notification

  .form-inputs
    = f.input :title
    = f.input :body
    = f.input :open,
      as: :radio_buttons,
      label: 'Is this job open?',
      item_wrapper_class: 'radio-inline'
  
  .form-actions
    = f.button :submit, 'Save Job'