.row
  .col-sm-6.col-sm-offset-3
    %h1.center Current Jobs Available

%table
  %thead
    %tr
      %th Title
      %th Body
      %th Open
      %th Closed date
      %th
      %th
      %th

  %tbody
    - @jobs.each do |job|
      %tr
        %td= job.title
        %td= job.body
        %td= job.open
        %td= job.closed_date
        %td= link_to 'Show', job
        %td= link_to 'Edit', edit_job_path(job)
        %td= link_to 'Destroy', job, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Job', new_job_path
