%p#notice= notice

%p
  %b Title:
  = @job.title
%p
  %b Body:
  = @job.body
%p
  %b Open:
  = @job.open
%p
  %b Closed date:
  = @job.closed_date

= link_to 'Edit', edit_job_path(@job)
\|
= link_to 'Back', jobs_path
