= simple_form_for(@agent) do |f|
  = f.error_notification

  .form-inputs
    = f.input :name
    = f.input :email
    = f.input :address
    = f.input :phone

  .form-actions
    = f.button :submit, 'Save Agent'
