= simple_form_for @agent do |f|
  = f.error_notification
  = render 'shared/error_messages', object: f.object
  .form-inputs
    = f.input :name, label: 'Agent\'s Name'
    = f.input :email, label: 'Agent\'s Email Address'
    = f.input :address, label: 'Agent\'s Address', input_html: { value: 'None' }
    = f.input :phone, label: 'Agent\'s Phone Number'

  .form-actions
    = f.button :submit, 'Save Agent', class: 'btn-primary'
