.nested-fields
  .form-group
    = f.input :name, label: 'School Name', wrapper_html: { class: 'col-sm-12' }
    = f.input :city, wrapper_html: { class: 'col-sm-6' }
    = f.input :country, priority: Cv::PREFERRED_COUNTRIES, selected: 'ID', wrapper_html: { class: 'col-sm-6' }
    -# %br
    -# %br
  .form-group
    %strong.col-sm-3 How long did you attend:
    = f.input :years_attended, label: 'Years', collection: 0..20, selected: 0, input_html: { style: 'width: 80px' }, wrapper_html: { class: 'col-sm-2' }
    = f.input :months_attended, label: 'Months', collection: 0..12, selected: 0, input_html: { style: 'width: 80px' }, wrapper_html: { class: 'col-sm-2' }
    = f.input :year_completed, label: 'Year Completed', collection: 1900..2100, wrapper_html: { class: 'col-sm-4' }
  .form-group
    = f.input :graduated, as: :radio_buttons, label: "Did you graduate?", item_wrapper_class: 'radio-inline', collection: [['Yes', true], ['No', false]], wrapper_html: { class: 'col-sm-12' }
  .links.clearfix
    = link_to_remove_association "Remove Education", f, class: 'btn btn-danger btn-sm pull-right'
  %hr