.container-fluid
  = simple_form_for(@cv, url: user_cvs_path) do |f|
    = f.error_notification
  
    .form-inputs
      .row
        = f.input :first_name, wrapper_html: { class: 'col-sm-4' }
        = f.input :middle_name, wrapper_html: { class: 'col-sm-4' }
        = f.input :last_name, wrapper_html: { class: 'col-sm-4' }
      .row
        = f.input :age, wrapper_html: { class: 'col-md-2 col-sm-4' }
        = f.input :height, wrapper_html: { class: 'col-md-2 col-sm-4' }
        = f.input :weight, wrapper_html: { class: 'col-md-2 col-sm-4' }
        = f.input :marital_status, wrapper_html: { class: 'col-md-3 col-sm-6' }
        = f.input :children, wrapper_html: { class: 'col-md-3 col-sm-6' }
      = f.input :phone_number
      = f.input :current_address_L1
      = f.input :current_address_L2
      = f.input :current_city
      = f.input :current_country, { priority: Cv::PREFERRED_COUNTRIES, selected: "MO" }
      = f.input :skills
      = f.input :work_visa
      = f.input :visa_exp_date
      = f.input :passport_country, as: :country, priority: Cv::PREFERRED_COUNTRIES
      = f.input :passport_expiration_date
  
    .form-actions
      = f.button :submit
