.nested-fields
  .form-group
    = f.input :employer_name, label: 'Employer', wrapper_html: { class: 'col-sm-6' }
    = f.input :location, wrapper_html: { class: 'col-sm-6' }
  .form-group
    %strong.col-sm-3 How long did you work there:
    = f.input :years, label: 'Years', collection: 0..40, selected: 0, input_html: { style: 'width: 80px' }, wrapper_html: { class: 'col-sm-2' }
    = f.input :months, label: 'Months', collection: 0..12, selected: 0, input_html: { style: 'width: 80px' }, wrapper_html: { class: 'col-sm-2' }
    = f.input :ended_year, label: 'Year Finished', as: :date, end_year: Date.today.year - 70, start_year: Date.today.year, discard_day: true, discard_month: true, selected: 0.years.ago, wrapper_html: { class: 'col-sm-4' }
  .form-group
    = f.input :job_duties, label: 'Explain what you did for this job', wrapper_html: { class: 'col-sm-12' }
  .links.clearfix
    = link_to_remove_association "Remove Job", f, class: 'btn btn-danger btn-sm pull-right'
  %hr