.row
  .col-md-6.col-md-offset-3
    .panel.panel-primary
      .panel-heading.text-center
        %h2 Log in
      .panel-body
        = simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
          = f.error_notification
          = render 'shared/error_messages', object: f.object    
          .form-inputs
            = f.input :login, label: 'Email Address or Username', required: false, autofocus: true
            = f.input :password, required: false
            = f.input :remember_me, as: :boolean, input_html: { checked: true } if devise_mapping.rememberable?
          .form-actions
            = f.button :submit, "Log in", class: 'btn-success', class: 'btn-success'
      .panel-footer
        %h4 Don't have an account? #{link_to 'Sign up here!', new_user_registration_path, class: 'block-link-sm'}
        