!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Macau-Jobs
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1"}
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body

    %nav.navbar.navbar-toggleable-md.navbar-default.navbar-fixed-top{:role => "navigation"}
      .container
        .navbar-header
          %button.navbar-toggle.collapsed{ type: :button, 'data-toggle' => :collapse, 'data-target' => "#topNav" }
            %span.sr-only Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          = link_to "Macau-Jobs.com", root_path, class: "navbar-brand"
        .collapse.navbar-collapse#topNav
          %ul.nav.navbar-nav.navbar-right
            - if user_signed_in?
              - if current_user.admin
                %li
                  = link_to "New Job Post", new_job_path
              - else
                %li
                  = link_to "Your Account", edit_user_registration_path
                %li
                  = link_to "Your CV", new_user_cv_path(current_user)
              %li
                = link_to "Sign Out", destroy_user_session_path, method: :delete
            - else
              %li
                = link_to "Sign In", new_user_session_path
              %li
                = link_to "Sign Up", new_user_registration_path

    .container.content
      = yield
